@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins,Arial, Helvetica, sans-serif;
}

/* Nav section */

.navbar{
    height: 60px;
    background-color: #023e8a;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* .sub-navbar ul li{
    list-style: none;
    text-decoration: none;
    display: inline;
    margin-left: 14px;
} */

.sub-navbar{
    display: flex;
    gap: 4rem;
}

.sub-navbar i:hover{
    cursor: pointer;
}

.return-order p{
    font-size: 13px;
}

.return-order:hover{
    cursor: pointer;
}

.order{
    font-weight: 600;
    margin-top: -9px;
}

a{
    text-decoration: none;
    color: white;
}

.nav-logo{
    height: 50px;
    width: 100px;
}

.nav-search {
    display: flex;
    justify-content: space-evenly;
    /* background-color: red; */
    width: 620px;
    height: 40px;
    border-radius: 11px;
}

.search-select {
    background-color: #f3f3f3;
    width: 70px;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #03045e;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #fff;
}

.nav-search:hover {
    border: 2px solid #03045e;
}

.my-cart{
    width: 50px;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
}

.my-cart a{
    font-size: 1rem;
    margin-left: 6px;   
}

.my-profile{
    width: 50px;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
}

.my-profile a{
    font-size: 1rem;
    margin-left: 6px;
}

/* Container-section */

.container{
    height: 100%;
    width: 100%;
    margin-top: 10px;
    background-color: #dfe6e9;
}

.college-card{
    width: 100%;
    height: 250px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
    color: #111;
}

.read-more-btn{
    color: #0984e3;
    display:flex;
    flex-direction:row-reverse;
    margin-top: -20px;
    cursor: pointer;
}

.read-more-text{
    display: none;
}

.read-more-text--show{
    display: inline;
}

.college-img1{
    background-image: url(/Euphoria/image/AIMT_Noida_2.jpg);
    background-size: cover;
    border-radius: 16%;
    margin: 0 55px;
    width: 30%;
    height: 100%;
    background-color: #fff;
}

.detail{
    border: 2px solid black;
    height: 100%;
    width: 100%;
    margin-right:55px;
    padding: 1%;
}

#clgName{
    color: #5a5695;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    margin-bottom: 0;
}

#headingH2{
    color: #000;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 4px;
}

.clg-listing-verified{
    align-items: center;
    gap: 12px;
    margin-bottom: 10px;
    flex-direction:row-reverse;
}

.about-clg{
    line-height: 20px;
    margin-top: 4px;
}

.about-clg p{
    margin-top: 0.4rem;
}

.star_left {
    position: relative;
}

.star-rating{
    position: relative;
    box-sizing: border-box;
    display: inline-block;
}

.star-rating i{
    font-size: 12px;
    width: 18px;
    height: 18px;
    transition: transform .2s ease-in-out;
    margin-right: -5px;
    color: #f77f00;
}

#normal{
    color: black;
}

.gray_box{
    margin-top: -6px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.user-verify{
    color: #f77f00;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-verify i{
    font-size: 12px;
}

.user-verify p{
    font-size: 11px;
}

/* Footer Section */

footer{
    margin-top: 15px;
}

.foot-panel1{
    height: 50px;
}

.foot-panel2 {
    background-color: #023e8a;
    color: white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
}

.foot-panel3 {
    background-color: #17202b;
    color: #DDDDDD;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
}

.logo {
    background-image: url(/Euphoria/image/Name-logo.png);
    background-size: cover;
    height: 54px;
    width: 135px;
}

.logo:hover {
    cursor: pointer;
}

.foot-other {
    margin-left: 95px;
    display: flex;
}

.language {
    margin-left: 5px;
}

.left {
    margin-left: 35px;
}

.country {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.country-image {
    background-image: url(/Euphoria/image/IND\ flag.png);
    background-size: cover;
    height: 20px;
    width: 20px;
}

.border1{
    border: 0.8px solid #DDDDDD;
    padding: 5px;
}

.pages {
    padding-top: 25px;
}

.pages a {
    text-decoration: none;
    color: #DDDDDD;
}

.pages a:hover{
    text-decoration: underline;
}

.copyright {
    padding-top: 5px;
}