@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    list-style: none;
}

.main-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* -----------------Clock-Section---------------- */

.digital-clock {
    position: relative;
    color: #000;
    background-color: #e0fbfc;
    width: 325px;
    padding: 0px 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hours,
.minutes,
.dots {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    padding: 0 3px;
}

.hours,
.minutes {
    font-size: 1.2em;
}

.dots {
    font-size: 1.4em;
    color: #929292;
}

.hours {
    background: -webkit-linear-gradient(90deg, #634dff, #5fd4ff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.minutes {
    background: -webkit-linear-gradient(90deg, #ff5e9a, #ffb960);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.right-side {
    position: relative;
    display: inline-block;
}

.period,
.seconds {
    font-size: 1.2em;
    font-weight: 500;
}

.period {
    transform: translateY(-20deg);
    background: -webkit-linear-gradient(90deg, #f7b63f, #faf879);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.seconds {
    transform: translateY(16px);
    background: -webkit-linear-gradient(90deg, #24ff6d, #2f93f1);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

/* --------------------Nav section----------------- */

.top-header {
    display: flex;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background-color: #2176ff;
    color: #edf0f1;
    width: 100%;
    height: 5em;
}

li,
a {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.social-media {
    width: 100%;
    height: 33px;
    background-color: #e0fbfc;
    display: flex;
    justify-content: flex-start;
}

#facebook {
    color: #3f37c9;
}

#instagram {
    color: #000;
}

#twitter {
    color: #212529;
}

#linkdin {
    color: #3f37c9;
}

.social-media ul li {
    display: inline-block;
    margin-right: 20px;
    margin-top: 5px;
}

.social-media ul {
    margin-left: 7em;
}

.logo {
    background-size: cover;
    height: 45px;
    width: 207px;
    margin-right: auto;
    margin-left: -3rem;
    object-fit: contain;
}

.logo:hover {
    cursor: pointer;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0f4c5c;
}

.nav-icon {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-left: auto;
}

.nav-icon a {
    transition: all 0.3s ease 0s;
}

.nav-icon a:hover {
    color: #0f4c5c;
    cursor: pointer;
}

.my-profile a i {
    font-size: 1.4rem;
}

#icon-text {
    font-size: 1rem;
    display: inline-block;
    margin-left: .3rem;
}

.search-icon i {
    transition: all 0.3s ease 0s;
}

.search-icon i:hover {
    color: #0f4c5c;
    cursor: pointer;
}

.search-box{
    position: absolute;
    top: 7em;
    z-index: 1;
    right: 7em;
    visibility:hidden;
}

.search-box i{
    position: absolute;
    top: -1em;
    color: #495057;
    font-size: 1.5em;
    cursor: pointer;
    transition: ease-in-out 0.5s;
}

.search-input {
    border: 2px solid transparent;
    width: 20em;
    height: 3em;
    padding-left: 0.8em;
    outline: none;
    overflow: hidden;
    background-color: #F3F3F3;
    border-radius: 10px;
    transition: all 0.5s;
}

.search-input:hover,
.search-input:focus {
    border: 2px solid #4A9DEC;
    box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
    background-color: white;
}

.menuNav{
    visibility: hidden;
}

/* ----------------Container-section -----------------*/

.container {
    height: 100%;
    width: 100%;
    margin-top: 10px;
    background-color: #dfe6e9;
}

.college-card {
    width: 95%;
    height: 23rem;
    margin-top: 10px;
    margin-left: 35px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
    color: #111;
    padding: 10px 2%;
    border-radius: .6rem;
}

.read-more-btn {
    color: #0984e3;
    display: flex;
    flex-direction: row-reverse;
    margin-top: -20px;
    cursor: pointer;
}

.read-more-text {
    display: none;
}

.read-more-text--show {
    display: inline;
}

/* --------------image slider-------------------------- */

.college-card-silder {
    width: 100%;
    height: 23rem;
    display: flex;
    justify-content: space-between;
    color: #111;
    padding: 5px .5%;
    position: relative;
    overflow: hidden;
}


.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 1s;
    top: -4em;
    object-fit: cover;
}

#slide-Prev-btn,
#slide-Next-btn {
    position: relative;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #adb5bd;
    width: 30px;
    height: 30px;
    top: 35%;
    border-radius: 50%;
}

#slide-Prev-btn {
    left: 2%;
}

#slide-Next-btn {
    right: 2%;
}

#slide-Prev-btn:hover,
#slide-Next-btn:hover {
    color: #fff;
    background-color: #6c757d;
    opacity: 0.8;
}

.slider-text {
    width: 90%;
    height: 6%;
    background-color: #d0f4de;
    color: #000;
    position: absolute;
    bottom: 36%;
    text-align: center;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
    border-radius: 6px;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease 0s;
    font-weight: 500;
}

.slider-text:hover {
    background-color: #a9def9;
    font-size: 1em;
    transition: all 0.3s ease 0s;
}

/* ----------------------body-content----------------- */

.college-card-main {
    width: 95%;
    height: 34rem;
    margin-top: 10px;
    margin-left: 35px;
    display: flex;
    justify-content: space-between;
    background-color: #a2d2ff;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
    color: #111;
    border-radius: .6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recommendation,
.body-content {
    width: 48%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rebeccapurple;
}

.recommendation {
    /* background-color: #008bf8; */
}

.feature-head {
    width: 95%;
    height: 9em;
    background-color: #a2d2ff;
    position: absolute;
    top: 54em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: .6rem;
}

.option{
    display: flex;
    column-gap: 28px;
    margin-top: 1em;
    font-weight: 500;
}

.option div{
    padding:3px 4px;
    border-radius: 7px;
    transition: all 0.3s ease 0s;
}

.option div:hover{
    cursor: pointer;
    background-color: #bde0fe;
    transition: all 0.3s ease 0s;
}

.feature-container {
    width: 100%;
    height: 75%;
    position: relative;
    bottom: -68px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.featured-college{
    border-radius: 0.8em;
    background-color: #f5f3f4;
    color: #000;
    width: 30em;
    height: 97%;
    padding: 1.2em 1.2em;
    margin-left: 0.6em;
}

.heading{
    height: 3em;
    width: 90%;
    padding: 0.8em 1.5px;
    display: flex;
    justify-content: space-between;
    margin-left: 1.2em;
}

.college-names{
    width: 100%;
    height: 88.5%;
    overflow: overlay;
}

.college-names a , .Exam-name a , .State-name a , .Course-name a{
    color: #03045e;
    font-size: 0.9em;
}

.college, .Exam-name , .State-name , .Course-name{
    padding: 4px 15px;
    background: #fbfbfc;
    width: fit-content;
    height: fit-content;
    border: 1px solid #c5c3e5;
    border-radius: 4px;
    margin-right: 8px;
    margin-bottom: 10px;
    font-weight: 500;
    color: #03045e;
    margin-left: 1em;
}

.college:hover, .Exam-name:hover , .State-name:hover , .Course-name:hover{
    background-color: #e9ecef;
}

.float{
    float: right;
    font-weight: 500;
    text-align: left;
    margin-right: 20px;
}

#heading-view{
    color: #00a6fb;
}

#heading{
    font-weight: 600;
}

.state-exams{
    width: 32em;
    height: 100%;
}

.exams{
    width: 96%;
    height: 48%;
    background-color: #e1e5f2;
    border-radius: 0.8em;
    display: flex;
    flex-direction: column;
    padding: 1.2em 1.2em;
    margin-left: 0.6em;
    margin-top: 0.25em;
}

.states{
    width: 96%;
    height: 48%;
    border-radius: 0.8em;
    background-color: #ccdbfd;
    display: flex;
    flex-direction: column;
    padding: 1.2em 1.2em;
    margin-left: 0.6em;
    margin-top: 0.5em;
}

.featured-course{
    border-radius: 0.8em;
    background-color: #edede9;
    width: 30em;
    height: 97%;
    display: flex;
    flex-direction: column;
    padding: 1.2em 1.2em;
    margin-right: 0.6em;
}

.entrance-exam{
    width: 100%;
    height: 100%;
    margin-top: 5px;
    overflow: overlay;
}

.Exam-name , .State-name , .Course-name{
    color:#03045e;
    display: inline-block;
}

/* --------------Category section------------------- */

#arrow-left,
#arrow-right {
    font-size: 3rem;
    position: relative;
    top: 45%;
    left: -14px;
    cursor: pointer;
    color: #4cc9f0;
    height: 10px;
}

#arrow-left:hover,
#arrow-right:hover {
    color: #315cfd;
    transition: all 0.3s ease 0s;
}

#arrow-right {
    position: relative;
    left: 14px;
}

.radio-inputs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    background-color: #EEE;
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    padding: 0.25rem;
    width: 100%;
    font-size: 14px;
}

.radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
}

.radio-inputs .radio input {
    display: none;
}

.radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: .5rem 0;
    color: rgba(51, 65, 85, 1);
    transition: all .15s ease-in-out;
}

.radio-inputs .radio input:checked+.name {
    background-color: #fff;
    font-weight: 600;
}

/* ------Post Section------------- */

.card {
    width: 190px;
    height: 254px;
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
    margin-top: 4rem;
}

.card-details {
    color: black;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
}

.card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #008bf8;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
    cursor: pointer;
}

.text-body {
    color: rgb(134, 134, 134);
}

.text-title {
    font-size: 1.5em;
    font-weight: bold;
}

.card:hover {
    border-color: #008bf8;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
}

.section-title {
    width: 91%;
    height: 3rem;
    background-color: #957fef;
    color: #fff;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 1.6rem;
}

.post-card {
    display: contents;
}

/* Footer Section */

footer {
    margin-top: 15px;
}

.foot-panel {
    height: 16em;
    background-color: #00a6fb;
    padding: 1em;
    color: white;
}

.foot-panel1 {
    height: 22em;
    background-color: #fffcf2;
    padding: 1rem 4em;
}

.sub-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7rem;
}

.foot-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 4.3rem;
}

.foot-content p {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-stretch: 50%;
}

.user-input-detail {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 4em;
    margin-left: -90px;
}

.request-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
}

.user-input-detail input {
    width: 16rem;
    height: 2.3rem;
    border-radius: 20px;
    margin-right: 15rem;
    border: .5px solid;
}

.group,
.group-1,
.group-2,
.group-3 {
    display: flex;
    line-height: 30px;
    align-items: center;
    position: relative;
    max-width: 200px;
}

.group i,
.group-1 i,
.group-2 i,
.group-3 i {
    position: relative;
    left: 36px;
}

.input {
    width: 100%;
    height: 45px;
    line-height: 30px;
    padding: 0 5rem;
    padding-left: 3rem;
    border: 2px solid transparent;
    border-radius: 10px;
    outline: none;
    background-color: #f8fafc;
    color: #0d0c22;
    transition: .5s ease;
}

.input::placeholder {
    color: #94a3b8;
}

.input:focus,
input:hover {
    outline: none;
    border-color: rgba(129, 140, 248);
    background-color: #fff;
    box-shadow: 0 0 0 5px rgb(129 140 248 / 30%);
}

.icon {
    position: absolute;
    left: 1rem;
    fill: none;
    width: 1rem;
    height: 1rem;
}

.request-btn button {
    width: 220px;
    height: 42px;
    border: 3px solid #315cfd;
    border-radius: 45px;
    transition: all 0.3s;
    cursor: pointer;
    background: white;
    font-size: 1em;
    font-weight: 450;
}

.request-btn button:hover {
    background: #315cfd;
    color: white;
    font-size: 1.1em;
}


.foot-panel2 {
    background-color: #3a86ff;
    color: white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
}

.foot-panel3 {
    background-color: #17202b;
    color: #DDDDDD;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
}

.logo-footer {
    background-image: url(/image/name-logo1.png);
    background-size: cover;
    height: 54px;
    width: 200px;
}

.logo-footer:hover {
    cursor: pointer;
}

.foot-other {
    margin-left: 95px;
    display: flex;
}

.language {
    margin-left: 5px;
}

.left {
    margin-left: 35px;
}

.country {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.country-image {
    background-image: url(/image/IND\ flag.png);
    background-size: cover;
    height: 20px;
    width: 20px;
}

.border1 {
    border: 0.8px solid #DDDDDD;
    padding: 5px;
}

.pages {
    padding-top: 25px;
}

.pages a {
    text-decoration: none;
    color: #DDDDDD;
    font-weight: 300;
    font-size: .8rem;
    transition: all 0.3s ease 0s;
}

.pages a:hover {
    text-decoration: underline;
    color: #0088a9;
}

.copyright {
    padding-top: 5px;
}